@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}

.App {
    background: url('./back.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.App__title{
    color: aqua;
    position: absolute;
    top: 30px;
    left: 100px;
}
